body,
button,
input {
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 14px;
  margin: 0;
}

.hero {
  padding: 130px 0 70px;
  background: url("./assets/hero-bg.png") no-repeat center;
  background-size: cover;
  color: #ffffff;
}

.hero__content {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
  text-align: center;
}

.hero__logo {
  max-width: 420px;
  width: 100%;
  height: auto;
  margin-bottom: 90px;
}

.hero__heading {
  font-size: 48px;
  margin: 0 0 30px;
}

.hero__copy {
  font-weight: 600;
  margin: 0 0 30px;
}

.hero__services {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.hero__service-icon {
  margin-bottom: 12px;
}

.hero__service-text {
  font-weight: 600;
  margin: 0;
}

.hero__button {
  cursor: pointer;
  background-color: #50b2ea;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 60px;
  border: 0;
  border-radius: 10px;
  transition: background-color 0.25s ease;
  box-shadow: 0 20px 40px 0 rgba(129, 209, 255, 20%);
}
.hero__button:hover {
  background-color: #61b9ec;
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 64px 0 48px;
  }

  .hero__logo {
    margin-bottom: 32px;
  }

  .hero__service-icon {
    max-width: 64px;
  }

  .hero__heading {
    font-size: 32px;
  }

  .hero__button {
    padding: 16px 32px;
  }
}
